# Arithmetic_Operations

1)Addition(+)

2)Substraction(-)

3)Multiplication(*)

4)Division(/)

In [5]:
import pandas as pd
var=pd.DataFrame({"A":[10,20,30,40],"B":[10,20,30,40]})
print(var)

    A   B
0  10  10
1  20  20
2  30  30
3  40  40

In [10]:
var["C"] = var["A"]+var["B"]
var["S"] = var["A"]-var["B"]
var["M"] = var["A"]*var["B"]
var["D"] = var["A"]/var["B"]
print(var)

    A   B   C  S     M    D
0  10  10  20  0   100  1.0
1  20  20  40  0   400  1.0
2  30  30  60  0   900  1.0
3  40  40  80  0  1600  1.0

# Logical Operators

In [13]:
var["Python"]=var["A"]>=30
var["Java"]=var["M"]<=900
var

    A   B   C  S     M    D  Python   Java
0  10  10  20  0   100  1.0   False   True
1  20  20  40  0   400  1.0   False   True
2  30  30  60  0   900  1.0    True   True
3  40  40  80  0  1600  1.0    True  False