# Series

It is defined as a one dimensional array that is capable of storing various data types

Syntax: 

    import pandas as pd 
    a=pd.Series()
    print(a)

In [5]:
import pandas as pd
x=[10,20,30,40,50]
var=pd.Series(x)
print(var)
print(var[3])         #Accessing the Element from the list

0    10
1    20
2    30
3    40
4    50
dtype: int64
40

# Series Parameters used in Pandas

In [7]:
import pandas as pd
list=[5,10,15,20]
var=pd.Series(list,index=['A','B','C','D'],dtype="float",name="table")
print(var)

A     5.0
B    10.0
C    15.0
D    20.0
Name: table, dtype: float64

# Dictionary

In [10]:
import pandas as pd
dict={"name":["Python","C","C++","Java"],"fees":[5000,2000,3000,4000],"rank":[1,4,3,2]}
var=pd.Series(dict)
print(var)

name      [Python, C, C++, Java]
fees    [5000, 2000, 3000, 4000]
rank                [1, 4, 3, 2]
dtype: object

# User defined index

In [11]:
s1=pd.Series(12,index=[1,2,3,4,5,6,7,8])
s2=pd.Series(12,index=[1,2,3,4,5])

print(s1+s2)              #It returns Nan for missing values not a error hence we used pandas

1    24.0
2    24.0
3    24.0
4    24.0
5    24.0
6     NaN
7     NaN
8     NaN
dtype: float64

#    Dataframe

It is the two dimentional datastructure

In [16]:
import pandas as pd
list=[10,20,30,40,50]
var=pd.DataFrame(list)
print(var)
print(type(var))

    0
0  10
1  20
2  30
3  40
4  50
<class 'pandas.core.frame.DataFrame'>

In [17]:
import pandas as pd
dict={"name":["Tushar","Sahil","Mohan","Ravi"],"Roll no":[11,12,13,14],"Marks":[50,98,67,80]}
var=pd.DataFrame(dict)
print(var)

     name  Roll no  Marks
0  Tushar       11     50
1   Sahil       12     98
2   Mohan       13     67
3    Ravi       14     80

# To Access the particular Column

In [9]:
import pandas as pd
dict={"name":["Tushar","Sahil","Mohan","Ravi"],"Roll no":[11,12,13,14],"Marks":[50,98,67,80]}
var=pd.DataFrame(dict,columns=["name"],index=[1,2,3,4])
print(var)

     name
1  Tushar
2   Sahil
3   Mohan
4    Ravi

# To get the particular datavalue

In [12]:
import pandas as pd
dict={"name":["Tushar","Sahil","Mohan","Ravi"],"Roll no":[11,12,13,14],"Marks":[50,98,67,80]}
var=pd.DataFrame(dict,index=[1,2,3,4])
print(var["name"][1])

Tushar

# Dataframe using List

In [13]:
import pandas as pd
list=[10,20,30,40,50],[10,20,30,40,50]
var1=pd.DataFrame(list)
print(var1)

    0   1   2   3   4
0  10  20  30  40  50
1  10  20  30  40  50

# Dataframe using Series

In [18]:
import pandas as pd
dict={"A":pd.Series((1,2,3,4,5)),"B":pd.Series((1,2,3,4,5))}
var2=pd.DataFrame(dict)
print(var2)

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5